<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="about">
                <h2>What We Do</h2>
                <p>AWIC Community and Social Services provides settlement and employment services, as well as 
                training & volunteer opportunities for newcomers to Canada. We provide them with the tools to 
                integrate and participate in Canadian society while maintaining their ethnic heritage. We are a 
                non-profit, non-political, secular, multi-lingual, multi-cultural organization that has been 
                assisting newcomers for over 35 years.</p>
                <h2>Our Mandate</h2>
                <p>The primary mandate of AWIC Community and Social Services is to provide appropriate, timely, 
                culturally sensitive newcomer support services with the objective of facilitating a smooth and 
                successful entry, transition and settlement into Canadian life. AWIC is uniquely positioned to 
                understand immigration related issues faced by newcomers in general, South Asians in particular, 
                at a grass roots level.</p>
                <h2>Goals and Objectives</h2>
                <ul>
                    <li>To promote mutual and inter-cultural understanding among newcomers and their families by 
                    establishing mutual support groups. </li>
                    <li>To provide a public forum for exchange of ideas, information and support among women. </li>
                    <li>To develop employment training and educational programmes to meet the needs of immigrants 
                    and their families. </li>
                    <li>To provide support services to the aged, ill or disabled and needy women. </li>
                    <li>To promote health education among women and their families through seminars, conferences and 
                    counseling, and educate them on prevention of and curative measures for health problems. </li>
                    <li>To assist women affected by spousal abuse through counseling and help them to become more 
                    independent. </li>
                    <li>To provide education, counselling and other support services for needy women immigrants and 
                    refugees in Canada by offering programmes in individual development, social integration, language 
                    instruction, translation services and information programmes on Canadian culture and life. </li>
                    <li>To develop and provide programmes promoting performances of an artistic nature in public 
                    functions and community centres, and also provide seminars on topics relating to artistic performances. </li>
                </ul>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>