<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="community">
                <h2>We offer the following Community and Health Services</h2>
                <ul>
                    <li>Administrative Assistant and Customer Service Training</li>
                    <li>QuickBooks Accounting Software Training</li>
                    <li>Employment Skills and Training</li>
                    <li>Volunteer Opportunities</li>
                    <li>Women’s Support Groups</li>
                    <li>Computer Classes</li>
                    <li>Language Classes - ESL and Conversation Clubs</li>
                    <li>Zumba Classes</li>
                    <li>Yoga Classes</li>
                    <li>Community Health Centres</li>
                    <li>Mental Health Services</li>
                    <li>Addiction Services</li>
                    <li>Drug Benefit Programs</li>
                </ul>
                <span class="callus">To find out more about our services, feel free to give us a call at (416) 499-4144</span>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>