<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="community">
                <h2>Community Services</h2>
                
                <ul>
                    <li>Administrative Assistant and Customer Service Training</li>
                    <li>QuickBooks Accounting Software Training</li>
                    <li>Computer Classes</li>
                    <li>Language Classes - ESL and Conversation Clubs</li>
                    <li>Volunteer Opportunities</li>
                </ul>

                <h2>Health and Wellness Services</h2>

                <p>
                    Health and Wellness is defined as a dynamic process of becoming aware of and making consious choices 
                    towards a more balanced and healthy lifestyle. At AWIC, we are not only committed to health and fitness, 
                    we are committed to your overall health and wellness and to help you be your best self. 
                </p>

                <ul>
                    <li>Zumba Bollywood Fitness Classes
                        <ul>
                            <li class="no-list-style">
                                Zumba is an exhilarating, effective, easy to follow, calorie burning fitness class. It features exotic 
                                rhythms set to high energy Bollywood beats. The moves are fun, different, easy and effective. Before 
                                participants would know it, they’d be getting fit with their energy levels soaring. There is no other 
                                fitness class like Zumba Bollywood workout. 
                            </li>
                        </ul>
                    </li>
                    <li>Yoga Classes
                        <ul>
                            <li class="no-list-style">
                                Yoga is a form of exercise that adapts to your needs and abilities and can be practised by everyone. 
                                It deals with your whole being. It makes your body fitter, the mind calmer and more relaxed. With regular 
                                practice, it brings rapid improvement in body shape, fitness, overall health and mental well-being. 
                                Come join this ancient practice that helps create a sense of union in body, mind and spirit and brings 
                                us balance. 
                            </li>
                        </ul>
                    </li>
                    <li>Community Health Centres</li>
                    <li>Mental Health Services</li>
                    <li>Addiction Services</li>
                    <li>Drug Benefit Programs</li>
                    <li>Health education among women and their families through seminars, conferences and counseling, and 
                    education on prevention of and curative measures for health problems</li>
                </ul>

                <span class="callus">To find out more about our services, feel free to give us a call at (416) 499-4144</span>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>