<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="funders">
                <h2>Funders</h2>
                <p>&nbsp;</p>
                <p class="bold">AWIC is funded by: </p>
                <p>&nbsp;</p>
                <p><a href="http://www.citizenship.gov.on.ca" target="_blank"><img src="~/Content/images/omci_logo.png" width="500" /></a></p>
                <p><a href="http://www.citizenship.gov.on.ca" target="_blank">Ontario Ministry of Citizenship, Immigration and International Trade</a></p>
                <p>&nbsp;</p>
                <p><a href="http://www.canada.ca" target="_blank"><img src="~/Content/images/goc_logo.jpg" width="200" /></a></p>
                <p><a href="http://www.canada.ca" target="_blank">Government of Canada</a></p>
                <p>&nbsp;</p>
                <p><a href="http://www.toronto.ca" target="_blank"><img src="~/Content/images/cot_logo.gif" width="200"/></a></p>
                <p><a href="http://www.toronto.ca" target="_blank">City of Toronto</a></p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>