<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="other">
                <h2>We also offer the following services</h2>
                <ul>
                    <li>Family Counselling</li>
                    <li>Individual and Group Counselling for women and seniors living in abusive relationships</li>
                    <li>Referral to doctors, lawyers, legal aid and subsidized housing</li>
                    <li>Youth Services such as stress counselling and 40 hours community volunteering opportunity</li>
                </ul>
                <span class="callus">To find out more about our services, feel free to give us a call at (416) 499-4144</span>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>