<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="seniors">
                <h2>We offer the following programs for seniors</h2>
                <ul>
                    <li>Seniors Drop-In Program</li>
                    <li>Health and Wellness Programs</li>
                    <li>Yoga and Meditation Classes</li>
                    <li>Workshops and Guest Speakers</li>
                </ul>
                <span class="callus">To find out more about our programs, feel free to give us a call at (416) 499-4144</span>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>