<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="settlement">
                <h2>Settlement and Housing Services</h2>

                <ul>
                    <li>Newcomer Orientation through Workshops</li>
                    <li>Assistance in completing applications
                        <ul>
                            <li>Permanent Residence</li>
                            <li>Social Insurance</li>
                            <li>Canada Child Tax Benefit</li>
                            <li>Ontario Health Insurance</li>
                            <li>Work Permits</li>
                            <li>Sponsorship</li>
                            <li>Canada Pension Plan</li>
                            <li>Ontario Disability Support Program</li>
                            <li>Subsidized housing Applications</li>
                            <li>and more</li>
                        </ul>
                    </li>
                    <li>Assessment of eligibility to access financial resources
                        <ul>
                            <li>Ontario Works Programs</li>
                            <li>Employment Insurance</li>
                            <li>Old Age Security</li>
                            <li>Guaranteed Income Supplement</li>
                            <li>Canada Pension Plan</li>
                            <li>Canada Child Tax Benefit</li>
                        </ul>
                    </li>
                    <li>Information and referral to appropriate service provider (community and government services)</li>
                    <li>Interpretation Services</li>
                    <li>Subsidized Housing</li>
                    <li>Affordable Housing</li>
                    <li>Cooperative Housing</li>
                    <li>Finance Management and Access to Mortgage</li>
                    <li>Referral to Doctors, Lawyers, Legal Aid and Subsidized Housing</li>
                    <li>Employment Skills and Training</li>
                    <li>Individual and Family Counseling</li>
                </ul>

                <h2>Women’s Networking</h2>

                <p>
                    Women’s Networking is part of our Settlement Services to help newcomer women settle and integrate into 
                    the Canadian culture. All women newcomers who are in need of a group of women to turn to for advice, support 
                    and guidance, should attend one of the meetings and see for themselves how much easier it is to understand 
                    the culture of Canada when you have a group of friends helping you. 
                </p>

                <span class="callus">
                    Settlement services and programs are provided by trained settlement counselors. Walk-in clients are welcome. 
                    To avoid long waiting periods, however, a prior appointment with the settlement counselor is encouraged. To 
                    find out more about our services or to book an appointment with a settlement counselor, feel free to give 
                    us a call at (416) 499-4144. 
                </span>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>