<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="settlement">
                <h2>We provide the following Settlement and Housing Services</h2>
                <ul>
                    <li>Newcomer orientation through workshops</li>
                    <li>One on one individual and family counselling</li>
                    <li>Assistance in completing applications and forms</li>
                    <li>Assessment of eligibility and access to financial resources</li>
                    <li>Information and referral to appropriate service provider (community and government services)</li>
                    <li>Interpretation Services</li>
                    <li>Subsidized Housing</li>
                    <li>Affordable Housing</li>
                    <li>Cooperative Housing</li>
                    <li>Finance management and Access to Mortgage</li>
                </ul>
                <span class="callus">To find out more about our services, feel free to give us a call at (416) 499-4144</span>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>