<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="sponsors">
                <h2>Sponsors</h2>
                <p>&nbsp;</p>
                <p class="bold">Your sponsorship makes a difference by improving AWIC’s ability to start new community projects and carry existing projects into 
                the future after the funding period. </p>
                <p>&nbsp;</p>
                <p class="bold">A heartfelt thanks to all of our following supporters and sponsors: </p>
                <p>&nbsp;</p>
                <p>Prem and Yash Kapur</p>
                <p>&nbsp;</p>
                <p>Mr. Raj Sunder and Mrs. Chitra Sunder</p>
                <p>&nbsp;</p>
                <p>Pankaj Arora</p>
                <p>&nbsp;</p>
                <p>Davender Jhooty / Shaminder Jhooty</p>
                <p>&nbsp;</p>
                <p>B & H Taylor</p>
                <p>&nbsp;</p>
                <p>Kamlesh Oberoi</p>
                <p>&nbsp;</p>
                <p>Asha Bidani</p>
                <p>&nbsp;</p>
                <p><img src="~/Content/images/state_bank_of_india_logo.jpg" width="200" /></p>
                <p>&nbsp;</p>
                <p><img src="~/Content/images/dawn_infotek _logo.jpg" width="200" /></p>
                <p>&nbsp;</p>
                <p><img src="~/Content/images/macroglobal_immigration_logo.gif" width="200" /></p>
                <p>&nbsp;</p>
                <p><img src="~/Content/images/arco_logo.png" width="200" /></p>
                <p>&nbsp;</p>
                <p><img src="~/Content/images/x_logo.jpg" width="200" /></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>