<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="supportservices">
                <h2>Support Services</h2>

                <ul>
                    <li>Education, counseling and other support services for needy women immigrants and
                    refugees in Canada by offering programmes in individual development, social integration, language
                    instruction, translation services and information programmes on Canadian culture and life</li>
                    <li>Women’s Support Groups</li>
                    <li>Individual and Group Counseling to help women and Seniors living in abusive relationships to become independent</li>
                    <li>Youth Services such as Stress Counseling</li>
                </ul>

                <h2>Programs for Seniors</h2>

                <ul>
                    <li>Seniors Drop-In Program
                        <ul>
                            <li class="no-list-style">
                                Every Friday, between 11 AM – 3 PM, AWIC invites all seniors to come, use our facility to mingle, chat, play some cards, 
                                make new friends, or just relax in a friendly and welcoming environment. 
                            </li>
                        </ul>
                    </li>
                    <li>Yoga and Meditation Classes
                        <ul>
                            <li class="no-list-style">
                                Everyone aspires to lead a healthy and active lifestyle. Through our weekly yoga classes, instructed by
                                Anuradha Punja, AWIC helps people reach a step closer to achieving this goal. These classes in yoga focus
                                on Pranayams (breathing techniques) to rid the body of toxins and maintain health, paired with Asanas (postures)
                                to keep the body strong and agile. It is perfect for seniors and anyone else whois interested in living a healthy
                                lifestyle. 
                            </li>
                        </ul>
                    </li>
                    <li>Health and Wellness Programs</li>
                    <li>Workshops and Guest Speakers</li>
                    <li>Past Programs
                        <ul>
                            <li>Immigrant Seniors' Story Sharing
                                <ul>
                                    <li class="no-list-style">
                                        South Asian seniors shared their pre and post immigration to Canada stories on video, which has been captured in 
                                        the form of interviews. These stories provided the youth and other newcomers an opportunity to learn from the 
                                        experiences of our seniors and also a different perspective and take on Canadian life. The video is now shown at 
                                        AWIC’s various newcomer settlement and employment workshops. 
                                    </li>
                                </ul>
                            </li>
                            <li>South Asian Heritage Calendar Project
                                <ul>
                                    <li class="no-list-style">
                                        AWIC has always been able to expand on its programs being offered to seniors with the introduction of the South Asian 
                                        Heritage Calendar Project. This exciting new program offered a chance for seniors to update their computer skills and 
                                        also create Indian art! An art instructor was leading the class in creating Indian heritage art, such as rangoli and 
                                        painting. The other aspect of this project included youth being paired up with seniors to upgrade their computer skills 
                                        as well as learn how to use a graphics design program. 
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <span class="callus">To find out more about our services and programs, feel free to give us a call at (416) 499-4144</span>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>