<appSettings>
	<add key="StripeApiKey" value="YOUR_STRIPE_API_SECRET_KEY" />
  <add key="StripeApiPublishableKey" value="YOUR_STRIPE_API_PUBLISHABLE_KEY" />
  <add key="SMTPServerAddress" value="YOUR_SMTP_SERVER_ADDRESS" />
  <add key="SMTPServerPort" value="YOUR_SMTP_PORT" />
	<add key="SMTPServerPassword" value="YOUR_SMTP_SERVER_PASSWORD" />
</appSettings>