<appSettings>
  <add key="OrganisationAdminUsername" value="YOUR_ORGANISATION_ADMIN_USERNAME" />
  <add key="OrganisationAdminPasswordHash" value="YOUR_ORGANISATION_ADMIN_PASSWORD_HASH" />
  <add key="OrganisationAdminSecurityStamp" value="YOUR_ORGANISATION_ADMIN_SECURITY_STAMP" />
  <add key="OrganisationEmailAddress" value="YOUR_ORGANISATION_EMAIL_ADDRESS" />
	<add key="StripeApiKey" value="YOUR_STRIPE_API_SECRET_KEY" />
  <add key="StripeApiPublishableKey" value="YOUR_STRIPE_API_PUBLISHABLE_KEY" />
  <add key="SMTPServerAddress" value="YOUR_SMTP_SERVER_ADDRESS" />
  <add key="SMTPServerPort" value="YOUR_SMTP_PORT" />
	<add key="SMTPServerPassword" value="YOUR_SMTP_SERVER_PASSWORD" />
</appSettings>